.btn-circle {
    width: 120px;
    height: 120px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 60px;
    margin: 0 90px;
}

body {
    background: beige;
}

h1 {
    margin: 30px 0 20px 0;
}

div#buttons {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

div#wrapper {
    background: white;
    margin: auto;
}

div#etch {
    border-radius: 25px;
    background: red;
    height: 900px;
    width: 1200px;
    margin: 5vw auto;
    border: 3px solid black;
}